{% extends 'base.html' %}
{% load simplesocial %}
{% block title %}{{ event.title }}{% endblock %}

{% block extra-head %}
{{ block.super }}
<meta name="description" content="{{ event.rendered_content|striptags|truncatewords:20 }}" />
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
{% endblock %}

{% block content %}
{% if request.path != '/' %}<h1>{{ event.title }}</h1>{% endif %}

{% if event.show_share_buttons %}
{% with event.title|add:' | '|add:site_name as title %}
{% wide_social_buttons request title event.get_absolute_url %}
{% endwith %}
{% endif %}

{% autoescape off %}
{{ event.content }}
{% endautoescape %}
<br/>
<br/>
<h3>Interested in attending this event? RSVP here w/your e-mail address!</h3>
<br/>
<form action=" {{ event.url }}" method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="RSVP" />
</form>
<br/>

{% if event.show_share_buttons %}
{% with event.title|add:' | '|add:site_name as title %}
{% narrow_social_buttons request title event.get_absolute_url %}
{% endwith %}
{% endif %}
{% endblock %}