{% extends 'base.html' %}
{% load simplesocial %}
{% block title %}{{ event.title }}{% endblock %}

{% block extra-head %}
{{ block.super }}
<meta name="description" content="{{ event.rendered_content|striptags|truncatewords:20 }}" />
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
{% endblock %}

{% block content %}
{% if request.path != '/' %}<h1>{{ event.title }}</h1>{% endif %}

{% if event.show_share_buttons %}
{% with event.title|add:' | '|add:site_name as title %}
{% wide_social_buttons request title event.get_absolute_url %}
{% endwith %}
{% endif %}

{% autoescape off %}
{{ event.content }}
{% endautoescape %}

<form action=" {{ poll.url }}" method="post">
	{% csrf_token %}
	{{ form }}
	<input type="submit" value="Vote" />
	</form>

{% if event.show_share_buttons %}
{% with event.title|add:' | '|add:site_name as title %}
{% narrow_social_buttons request title event.get_absolute_url %}
{% endwith %}
{% endif %}
{% endblock %}