{% extends 'base.html' %}
{% load simplesocial %}
{% block title %}{{ poll.question }}{% endblock %}


{% block content %}
{% if request.path != '/' %}<h1>{{ poll.question }}</h1>{% endif %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if user.is_authenticated %}
    {% if not already_voted %}<p>You will vote as "{{ user.email }}". You can only vote once, and cannot change your vote.</p>{% endif %}
    <form action=" {{ poll.url }}" method="post">
	{% csrf_token %}
	{% for choice in poll.choice_set.all %}
	    {% if not already_voted %}<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />{% endif %}
	    <label for="choice{{ forloop.counter }}">{{ choice.choice }} <br/> (votes: {{ choice.votes }})</label><br />
	{% endfor %}
	{% if not already_voted %}<input type="submit" value="Vote" />{% endif %}
	</form>
	<p>Total Voters: {{ poll.voters|length }}</p>


	
{% else %}
    <p>You must be logged in to vote.</p>
{% endif %}


{% endblock %}
